.fav-wrapper {
  max-width: 700px;
  margin: 80px auto;
  text-align: center;
}

.fav-wrapper h2 {
  color: white;
  margin-bottom: 30px;
}

.fav-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fav-post {
  background: #16181c;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #333;
}

.fav-post img {
  max-height: 400px;
  width: 100%;
  border-radius: 12px;
}

.favorite-btn {
  border: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
  color: #f91880;
}
